version: '3'
services:
  gundb:
    build: 
      context: ./gun-server
      dockerfile: Dockerfile
    ports:
      - "8765:8765"
  peerjs:
    depends_on:
      - bunwss
    restart: always
    build: 
      context: ./peerjs-server
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
  bunwss:
    build: 
      context: ./bun-websockets
      dockerfile: Dockerfile
    ports:
      - "9001:9001"